<h1>Edit {{showLeague.name}}</h1>

<form action="/league/{{showLeague._id}}?_method=PUT" method="POST">
  <div>
    <label for="name">League Name</label>
    <input type="text" value="{{showLeague.name}}" name="name"/>
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" value="{{showLeague.location}}" name="location"/>
  </div>

  <div>
    <label for="sport">Sport</label>
    <input type="text" value="{{showLeague.sport}}" name="sport"/>
  </div>

  <div>
    <label for="logourl">Logourl</label>
    <input type="text" value="{{showLeague.logourl}}" name="logourl"/>
  </div>

  <div>
    <label for="adult">Adult League?</label>
    <input type="text" value="{{showLeague.adult}}" name="adult"/>
  </div>

  <div>
    <label for="numOfDivisions">Number of Divisions</label>
    <input type="text" value="{{showLeague.numOfDivisions}}" name="numOfDivisions" />
  </div>

  <button type="submit">Update</button>
</form>