<h1>Edit {{showLeague.title}}</h1>

<form action="/homework/{{showLeague._id}}?_method=PUT" method="POST">
  <div>
    <label for="title">League Name</label>
    <input type="text" name="title" value={{showLeague.name}} />
  </div>
  <div>
    <label for="description">Location</label>
    <textarea 
    type="text" 
    name="description" >{{showLeague.location}}</textarea>
  </div>
  <div>
    <label for="subject">Homework subject</label>
    <input type="text" name="subject" value={{showLeague.sport}} />
  </div>
  <div>
    <label for="createdBy">Homework createdBy</label>
    <input type="text" name="createdBy" value={{showLeague.adult}} />
  </div>
  <div>
    <label for="dueDate">Homework dueDate</label>
    <input type="date" name="dueDate" value={{showLeague.numOfDivisions}} />
  </div>
  <div>
    <label for="dueDate">Homework dueDate</label>
    <input type="date" name="dueDate" value={{showLeague.teams}} />
  </div>
  <button type="submit">Update</button>
</form>