<h1>All Leagues</h1>

<ul>
  {{#each listOfLeagues}}
  <li>
    <a href="/league/{{_id}}"><p>{{name}}</p></a>
      <p>{{location}}</p>
      <p>{{sport}}</p>
      <p>{{adult}}</p>
      <p>{{numOfDivisions}}</p>
  </li>
  {{/each}}
</ul>