<h1>Leagues</h1>

<div class="leagueindexcontainer">


  {{#each listOfLeagues}}
  <div class="hvr-grow">
    <a href="/league/{{_id}}">
      <div class="leaguelist">
        <p>{{name}}</p>
        <p>{{location}}</p>
        <p>{{sport}}</p>
        <p>{{adult}}</p>
        <p>{{numOfDivisions}}</p>
      </div>
    </a>
  </div>
  {{/each}}

</div>