<form action="/league" method="Get">
  <button type="submit">Back to Leagues</button>
</form>

<h1>{{showLeague.name}}</h1>
<h4>Location: {{showLeague.location}}</h4>
<p>Sport: {{showLeague.sport}}</p>
<img src="{{showLeague.logourl}}" class="league-logo" alt="">
<p>Adult ?: {{showLeague.adult}}</p>
<p>Number of Divisions: {{showLeague.numOfDivisions}}</p>

<form action="/league/{{showLeague._id}}/edit?_method=DELETE" method="PUT">
  <button type="submit">Edit League</button>
</form>

<form action="/league/{{showLeague._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete League</button>
</form>