
<h1>Teams</h1>

<div class="leagueindexcontainer">

  {{#each listOfTeam}}
  <div class="hvr-grow">
    <a href="/team/{{_id}}">
      <div class="leaguelist">
        <p>{{name}}</p>
        <p>{{logourl}}</p>
        <p>{{manager}}</p>
        <p>{{numOfPlayers}}</p>
        <p>{{divisions}}</p>
      </div>
    </a>
  </div>
  {{/each}}

</div>