{{#each teams}}
  {{!-- {{ <a href="/player/{{_id}}"><p>{{name}}</p></a> --}}
      
      <p>{{name}}</p>
      <img src={{this.logourl}} alt="">
      <p>{{manager}}</p>
      <p>{{numOfPlayers}}</p>
      <p>{{division}}</p>
{{/each}}