<form action="/league/{{leagueId}}" method="Get">
  <button type="submit">Back to Leagues</button>
</form>

<div class="showleague" >
<h1>{{showTeam.name}}</h1>
<img src="{{showTeam.logourl}}" class="league-logo" alt="">
<h4>Manager: {{showTeam.manager}}</h4>
<h5> Num of Players: {{showTeam.numOfPlayers}}</h5>
<h6>Division: {{showTeam.division}}</h6>
</div>

<div class="flexedbuttons" >
<form class="eachbutton" action="/league/{{showLeague._id}}/edit?_method=DELETE" method="PUT">
  <button type="submit">Edit League</button>
</form>

<form class="eachbutton" action="/league/{{showLeague._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete League</button>
</form>


</div>

<div class="leagueindexcontainer"></div>
{{#each showLeague.players}}
<div class="hvr-grow">
  <div class="leaguelist">
    <a href="/league/{{_id}}/team">
      <p>{{name}}</p>
      <img class="team-logo" src="{{picurl}}" alt="">
      <p>{{age}}</p>
      <p>{{gender}}</p>
      <p>{{position}}</p>
  </div>
  </a>
</div>
{{/each}}
</div>

<form class="eachbutton" action="/league/{{leagueId}}/team/{{showTeam._id}}/players/new">
  <button type="submit">Create New Player</button>
</form>